.parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}
body {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#overlay {
  position: absolute;
  top: 0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

/* This styles the input form or search bar. */
input {
  margin: 10px;
  font-size: 18px;
  width: 710px;
  height: 43px;
  border-width: 0px;
  border-radius: 10px;
  border-color: #D1D7DD;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

input[type=text] {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  box-sizing: border-box;
  color: #707070;
  border: 1px solid #ccc;
  letter-spacing: -.5px;
  font-weight: 600;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Creates 2 columns */
.container {
  position: absolute;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/* Global clubs css */
.clubs {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  border-radius: 10px;
  padding: 10px;
  max-width: 350px;
  margin: 10px;
  background-color: #FFFFFF; 
  display: inline-block; 
}

/* When user hovers mouse over club, changes the background color */
.clubs:hover {
  cursor: pointer;
  background-color: #F6F8FB;
  background-color: #F6F8FB;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 250ms linear;
}

/* styles the name of the club */
.card-header {
  font-weight: bolder;
  font-size: larger;
  color: #4285F4;
  letter-spacing: -.5px;
}

/* styles the names of the coleads. */
.card-leads {
  font-weight: bold;
  font-size: small;
  margin-top: -1em;
  color: #596069;
  letter-spacing: -.5px;
}

/* styles the club description */
.card-body {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 450;
  font-size: medium;
  color: #596069; 
  line-height: 1;
  margin-top: .5em;
  letter-spacing: -.4px;
  display: -webkit-box;
  overflow: hidden;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: red;
  cursor: pointer;
}